
 <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->

    <section class="mb-4">

      <!-- VK -->
      <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://vk.com/GGnya"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fa-brands fa-vk"></i></a>

      <!-- Gitlab -->
      <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="https://gitlab.com/GGnya"
      role="button"
      data-mdb-ripple-color="dark"
      ><i class="fa-brands fa-gitlab"></i></a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://github.com/GGnya"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fa-brands fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://hh.ru/resume/9ae4de5eff0bb27a6d0039ed1f695777665a57">GGnya</a>
  </div>
  <!-- Copyright -->


